<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage Index</title>
  </head>
  <body>



    <header class="main_h">

  <% if (authUser){ %>
        <div class="row">
            <a class="logo" href="#">Reviews Portal</a>

            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>



            <nav>
                <ul>
                    <li><a href="/reviews/findit">My Reviews</a></li>
                    <li><a href="/users/logout">Sign Out</a></li>
                    <li>Welcome <span style="color:orange;"><%= username %></span> !
                    </li>
                    <li><a href="/users/profile">Profile</a></li>
                </ul>
            </nav>



        </div> <!-- / row -->
        <% } %>

    </header>

    <div class="hero">

        <h1><span>Write us your reviews!</span><br></h1>
        <h5>Online shopping sites such as qoo10, amazon,<br/> ebay, zalora.. and many others!</h5>

        <div class="mouse">
            <span></span>
        </div>

    </div>

    <div class="row content">


<div class="row">
        <ul id="all-shopping-boxes">

          <% var counter = 0;
           shopArr.forEach(function(shop) {
           counter++
           console.log(counter)



               %>

            <div class="four columns">
           <li>
          <h2 class="logosize-main"> <img src="<%= shop.imagelink %>"> </h2>
            <div class="established-date">  Since: <%= shop.establishedate %></div><br>
            <div class="details">  <%= shop.details %></div><br>
              Website: <%= shop.urlname %><br>
                <%= shop.reviewid %><br>
                <a href="/shoppingsites/<%=shop.id%>"> <button id="read-reviews">Read Reviews</button></a>
           </li>
           </div>
           <% if (counter % 3 === 0){ %>
             <div style="clear:both;"></div>

        <%   }
         }) %>




     </ul>
</div>

  </body>

</html>
